{
    "source": {
        "directories": [
            "."
        ],
        "excludes": [
            "vendor",
            "tests",
            "examples"
        ]
    },
    "logs": {
        "text": "build-tests\/infection.log"
    },
    "mutators": {
        "@default": true
    },
    "phpUnit": {
        "configDir": ".",
        "customPath": "vendor\/bin\/phpunit"
    },
    "tmpDir": "build-tests\/infection-tmp"
}